.SunriseSunset h1 {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 40px 0;
}
.SunriseSunset .row {
  text-align: center;
  margin: 0;
}
.SunriseSunset .top {
  padding-top: 10px;
}

.SunriseSunset .sun,
.moon {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.SunriseSunset .sunrise,
.sunset {
  position: relative;
  bottom: 55px;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  max-width: 40%;
}
.SunriseSunset .sunrise {
  color: #c62874;
}
.SunriseSunset .sunset {
  color: #2e486b;
}
